.card .btn-close {
  opacity: 0;
}

.card:hover {
  transition: 0.15s ease-in-out;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card:hover .btn-close {
  transition: 0.25s ease-in-out;
  opacity: 1;
}

.toast {
  width: 250px;
}
